@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');
html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}
body{
    font: 1.6rem 'Open Sans', sans-serif;
    margin: 0;
    background-color : #fafafa;
}
h1,h2,h3,h4,h5,h6,p,figure,ul,ol{
    margin: 0;
    padding: 0;
    list-style: none;
}
a{

    text-decoration: none;
}
*{
    box-sizing: border-box;
}
button{
    padding: 0;
    border: 0;
    background-color: transparent;
}



/* theme*/
header{
    display: flex;
    height: 10vh;
    justify-content: center;
    align-items: center;
}
header h1{
    text-transform: uppercase;
    font-size: 2rem;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   

}


.first_section, .second_section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #ffffff;
    color: #222;
    height: auto;
    width: 37rem;
    border: 1px solid #ccc;
    margin-bottom: 2rem;
}
.first_section img{
    padding: 2rem 7rem;
    
}


.third_section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 60vw;
}

.third_section h2{
    padding: 2rem;
    background-color: #222;
    color: #fff;
    width: 60vw;
    text-align: center;

}
.third_section h2::before{
    content: url(../asset/Instagram_icon-icons.com_66804.png);
    position: relative;
    top: .5rem;
    left: -2rem;
}
.third_section ul{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.third_section ul li img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20vw;
    flex-wrap: wrap;
}

.autre_methodes{
    padding: 4rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.autre_methodes h2{
    font-size: 1.6rem;
}
.autre_methodes ul{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: 2rem;
}
.autre_methodes img{
    width: 15rem;
}

@media screen and (max-width: 70rem) {

    .third_section{
 
        width: 100vw;
    }
    .third_section h2{
  
        width: 100vw;
    }

    .third_section ul li img{
        width: 30vw;
    }
    header{
        height: 15vh;
 
    }
    header h1{
        text-transform: uppercase;
        font-size: 1.6rem;

    }
    
}
