/* reset css */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');
html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}
body{
    font: 1.6rem 'Open Sans', sans-serif;
    margin: 0;
    background-color : #fafafa;
}
h1,h2,h3,h4,h5,h6,p,figure,ul,ol{
    margin: 0;
    padding: 0;
    list-style: none;
}
a{

    text-decoration: none;
}
*{
    box-sizing: border-box;
}
button{
    padding: 0;
    border: 0;
    background-color: transparent;
}

/* theme css */


header{
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
header h1{
    text-transform: uppercase;
    font-size: 2rem;
}
.all{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;  

}

.container_form{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    color: #222;
    height: auto;
    width: 37rem;
    border: 1px solid #ccc;
}

.inscrivez_vous{
    margin: 2rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    color: #222;
    height: 10vh;
    width: 37rem;
    border: 1px solid #ccc;
}

.form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 1.6rem;
}


.form img{
    font-size: 3rem;
    padding:  2rem 0;
}
.form .input{
    width: 150%;
    padding: 1rem;
    margin: 1rem 0;
    color:#222;
}
.form input:last-of-type{
    width: 150%;
    color:  #fff;
    background-color:#3897f0;
   border: 1rem solid #3897f0;

}

.form p {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.form hr{
    color: #222;
    width: 15rem;
    transform: translate(-9.5rem, 1.8rem);
}
.form hr:last-of-type{
    color: #222;
    width: 15rem;
    transform: translate(9.5rem, -1.8rem);
}

  



.form a{
    padding: .5rem 0;
}
.form .items_a{
    padding-top: 2rem;
}

.autre_methodes{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.autre_methodes ul{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: 2rem;
}
.autre_methodes img{
    width: 15rem;
}




@media screen and (max-width: 70rem) {

    .autre_methodes ul{
        flex-direction: column;
    
    }
    
}

